<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <h1>ADMIN VIRTUOSA</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "About", "#about", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Services", "#services", class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Blog", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Team", "#team", class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Contacts", "#contacts", class: "nav-link" %>
          </li>

          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} do %>
                <i class="fa-solid fa-right-from-bracket"></i>
              <% end %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#about", class: "dropdown-item" %>
              <%= link_to "Another action", "#services", class: "dropdown-item" %>
              <%= link_to "Another action", "#team", class: "dropdown-item" %>
              <%= link_to "Another action", "#contactss", class: "dropdown-item" %>


            </div>
          </li>




        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
