<body class="postsIndexBody">

  <% if user_signed_in? %>
    <%= link_to new_post_path, class: "btn" do %>
      <i class="fa-solid fa-circle-plus ms-3"></i>
    <% end %>
  <% end %>

  <div class="postsBody">

  <% @posts.each do |post| %>
    <div class="d-flex justify-content-center mb-5">
      <div class="d-flex flex-column postContent">
        <h2 class="d-flex justify-content-center"><%= link_to post.title, post_path(post), class:"titlePosts mb-4" %></h2>

        <div class="position-relative">
          <% if user_signed_in? %>
            <div class="d-flex justify-content-end position-absolute ms-2 mt-2">
              <%= link_to edit_post_path(post) do %>
                <p class="indexPostsLinks"><i class="fa-solid fa-pen-to-square"></i></p>
              <% end %>
              <%= link_to post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?"} do %>
                <p class="indexPostsLinks ms-2"><i class="fa-solid fa-trash"></i></p>
              <% end %>
            </div>
          <% end %>
          <% if post.image.attached? %>
            <%= link_to post_path(post) do %>
              <%= cl_image_tag post.image.key, class: "indexPostImage d-flex justify-content-center mb-3" %>
            <% end %>
          <% end %>
        </div>

          <%# This line means that if the post has more than 230 characters, the post will be cut  %>
          <% if post.content.to_s.length > 230 %>
            <p class="d-flex justify-content-center">
              <%= link_to truncate(strip_tags(post.content.to_s), length: 230), post_path(post), class:"titlePosts mb-2" %></p>

                <div class="infoPostParagraph d-flex justify-content-between">
                  <%= link_to post_path(post), class:"readMoreLink" do %>
                    <p>Read More</p>
                  <% end %>
                  <%# <p class="dateParagraph"><%= post.date.strftime('%B %d, %Y')</p> %>
                </div>

          <% else %>
            <p class="d-flex justify-content-center">
              <%= link_to post.content, post_path(post), class:"titlePosts mb-2" %></p>
                <div class="infoPostParagraph d-flex justify-content-between">
                  <%= link_to post_path(post), class:"readMoreLink" do %>
                    <p>Read More</p>
                  <% end %>
                  <%# <p class="dateParagraph"><%= post.date.strftime('%B %d, %Y')</p> %>
                </div>
          <% end %>
          <hr>
        </div>
      </div>
    <% end %>
  </div>
</body>
